<style>
  html {
    background-color: #fefefd;
    color: #333;

    font-family:"Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
  }
  header {
    text-align: center;
  }

  code {
    background-color: #F7F7F9;
    color: #E11257;
  }

  table {
    width: 90%;
    min-width: 640px;

    color: #333;

    margin: 0 auto;
  }
  th {
    text-align: left;
  }

  tbody tr:nth-child(even) {
    background-color: #e6e6e6;
  }

  .flex {
    display: -webkit-flex;
    display: flex;
  }
  .smaller {
    -webkit-flex: 1;
    flex: 1;
  }
  .bigger {
    -webkit-flex: 3;
    flex: 3;
  }

  .filter-container {
    justify-content: center;
  }

  .filter {
    padding: 0.4em;
    width: 30%;
    margin: 1em 0 3em 0;
  }

</style>

<header>
  <h1 id="title">The Brain of Tombot</h1>

  <p>
    On the <a href="https://ember-community-slackin.herokuapp.com/">Ember.js Slack</a> we have a lovely and helpful bot named… Tombot.
  </p>
  <p>We teach it things. These are those things.</p>
</header>

<section class="filter-container flex">
  <input type="text" class="filter" value={{filterTerm}} placeholder="Filter"
    oninput={{action (mut filterTerm) value='currentTarget.value'}}>
</section>

<main>
  <table>
    <thead>
      <tr class="flex">
        <th class="smaller">Fact</th>
        <th class="bigger">Meaning</th>
      </tr>
    </thead>
    <tbody>
      {{#highlight-terms filterTerm}}
        {{#each filteredModel as |item|}}
          <tr class="flex">
            <td class="smaller"><p>{{item.command}}</p></td>
            <td class="bigger">{{md-text text=item.result}}</td>
          </tr>
        {{/each}}
      {{/highlight-terms}}
    </tbody>
  </table>
</main>
